@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --bd-rgb: 0 115 230;
    --header-height: 4rem;

    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height)
}

:root[class="light"] {
    --py-rgb: 255 255 255;
    --sy-rgb: 230 230 230;
    --cl-rgb: 19 13 6;
}

:root[class="dark"] {
    --py-rgb: 19 13 6;
    --sy-rgb: 68 59 59;
    --cl-rgb: 255 255 255;
}

* {
    @apply ring-bd/50 border-cl/10;

    &::selection {
        background-color: color-mix(in srgb, rgb(var(--bd-rgb)) 50%, rgb(var(--sy-rgb)) 55%);
    }
}

body {
    @apply h-screen bg-py text-cl;

    >main {
        @apply min-h-screen;
    }

    >main:not(.full-h) {
        @apply mt-[--header-height];

    }
}

header:has(+.home-page) {
    @apply border-none shadow-none;

}

*[data-child].active {
    @apply scale-[2.5] p-4 shadow-2xl shadow-cl/10 bg-cl/20 opacity-100;
}

@layer components {
    .stroke-effect {
        --line: 50px;
        --line-offset: 1px;
        @apply relative
    }

    .stroke-effect::before {
        clip-path: circle(var(--line) at 0% 0%);
        @apply content-[''] absolute -inset-[--line-offset] border border-bd/50 rounded-[inherit] transition-all;
        animation: stroke-outline 6s infinite .8s linear;
    }

}

.back-in-down {
    animation: Intro 800ms linear;
}

@keyframes Intro {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0) scaleY(0.9);
    }

    75% {
        transform: translate3d(0, -10px, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stroke-outline {
    25% {
        clip-path: circle(var(--line) at 100% 0%);
    }

    50% {
        clip-path: circle(var(--line) at 100% 100%);
    }

    75% {
        clip-path: circle(var(--line) at 0% 100%);
    }
}